# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Logs and debug
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python environments
*.egg-info/
.eggs/
dist/
build/

# PDF/image cache
*.png
*.jpg
*.jpeg
*.pdf
